<div class="">
    <h1>Monolith Dashboard</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam dolore ex magnam soluta, consequatur corrupti earum voluptatibus laborum facere aliquid. Quam sit cumque cupiditate ad quia repellendus dicta placeat dolore.</p>
    <a href="" class="btn btn-sm btn-dark" href="/dashboard">Go to Dashboard</a>
</div>