<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/authentication.css" type="text/css">
</head>
<body>
    <div class="root container-fluid bg-light d-flex justify-content-center align-items-center">
        <div class="container form-card bg-white d-flex flex-column justify-content-center align-items-center p4">
            <%- body %>
        </div>
    </div>
</body>
</html>